USE [DCV_PI]
GO
/****** Object:  StoredProcedure [dbo].[P_PROCURAR_CHAMADO]    Script Date: 29/09/2025 10:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[P_PROCURAR_CHAMADO]
    @Filtro VARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

   SELECT    
a.Id  
,a.NumeroChamado as 'NumeroChamado'  
,a.Descricao as 'Descricao'  
,IdResponsavel as 'DevId'  
,dev.Nome as 'Desenvolvedor'
,IdNegocio as 'NegId'
,neg.Nome as 'Negocio'
,AMS.Id as 'SituacaoId'
,AMS.Descricao as 'Situacao'
,Dependencia as 'Dependencia'
,Sis.Id as 'SistemaId'
,Sis.Nome as 'Sistema'
from dbo.AmbientesSistema a Inner Join  
desenvolvedores as dev  
on a.IdResponsavel = dev.Id  
Inner Join Negocio as neg
on a.IdNegocio = neg.id
Inner join AmbienteStatus AMS
on a.Situacao = AMS.id
iNNER JOIN Sistemas as Sis
on a.IdSistema = Sis.Id
   WHERE 
    a.NumeroChamado LIKE '%' + @Filtro + '%'
    OR a.Descricao LIKE '%' + @Filtro + '%'
order by Sis.Id  
END;
