USE [DCV_PI]
GO
/****** Object:  StoredProcedure [dbo].[P_ATUALIZAR_AMBIENTE_POR_SISTEMA]    Script Date: 05/09/2025 17:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[P_ATUALIZAR_AMBIENTE_POR_SISTEMA]      
    @Id INT,        
    @NumeroChamado NVARCHAR(200),      
    @Descricao NVARCHAR(500),      
    @DevId INT,
	@NegId INT,
	@SitId INT,
	@SisId INT,
	@Dependencia NVARCHAR(100)
AS      
BEGIN      
    UPDATE AmbientesSistema      
    SET       
        NumeroChamado = @NumeroChamado,      
        Descricao = @Descricao,      
        IdResponsavel = @DevId,
		IdNegocio = @NegId,
		Situacao = @SitId,
		IdSistema = @SisId,
		Dependencia = @Dependencia
    WHERE Id = @Id;      
END