USE [DCV_PI]
GO
/****** Object:  StoredProcedure [dbo].[P_ATUALIZAR_AMBIENTE]    Script Date: 05/09/2025 16:58:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[P_EXCLUIR_AMBIENTE_PADRAO]      
    @Id INT      
   
AS      
BEGIN      
    DELETE AmbientesSistema
    WHERE Id = @Id
END
