USE [DCV_PI]
GO
/****** Object:  StoredProcedure [dbo].[P_ExcluirFeatureAmbiente]    Script Date: 05/09/2025 17:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[P_ExcluirFeatureAmbiente]
(
 @ChamadoId int
)
AS
BEGIN

DELETE ReleasePacote
WHERE ChamadoId = @ChamadoId

END
