USE [DCV_PI]
GO
/****** Object:  StoredProcedure [dbo].[P_INSERIR_AMBIENTE_PADRAO]    Script Date: 05/09/2025 16:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[P_INSERIR_AMBIENTE_PADRAO]
    @NumeroChamado NVARCHAR(200) = '',      
    @Descricao NVARCHAR(500) = 'Ambiente Criado',      
    @DevId INT = 1,
    @NegId INT = 1,
    @SitId INT = 1,  
    @SisId INT = 1,
    @Dependencia NVARCHAR(100) = ''
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO AmbientesSistema
        (NumeroChamado, Descricao, IdResponsavel, IdNegocio, Situacao, IdSistema, Dependencia)
    VALUES
        (@NumeroChamado, @Descricao, @DevId, @NegId, @SitId, @SisId, @Dependencia);

    SELECT SCOPE_IDENTITY() AS Id;
END
