USE [DCV_PI]
GO
/****** Object:  StoredProcedure [dbo].[P_OBTER_SISTEMAS]    Script Date: 05/09/2025 17:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   procedure [dbo].[P_OBTER_SISTEMAS]
as
BEGIN

	SELECT * FROM Sistemas
	ORDER BY Nome

END
