USE [DCV_PI]
GO
/****** Object:  StoredProcedure [dbo].[P_OBTER_PACOTE_QA_POR_SISTEMA]    Script Date: 05/09/2025 16:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[P_OBTER_PACOTE_QA_POR_SISTEMA]

AS
BEGIN

select 
ReleaseId,
Branch,
CASE 
    WHEN RP.NegocioId = 0 THEN 1
    ELSE RP.NegocioId
	End as NegocioId,
CASE 
    WHEN RP.NegocioId = 0 THEN 'NENHUM'
    ELSE NG.Nome
	End as Nome,
RP.ChamadoId,
CASE 
    WHEN RP.SituacaoId = 0 THEN 1
    ELSE SituacaoId
	End as SituacaoId,
CASE 
    WHEN RP.NegocioId = 0 THEN 'NENHUM'
    ELSE a.Descricao
	End as Descricao,
RP.Dependencia
from ReleasePacote RP 
INNER JOIN Release R
on RP.ReleaseId = R.Id
left join NEGOCIO NG
on RP.NegocioId = NG.Id 
left JOIN AmbienteStatus a
on RP.SituacaoId = a.Id 

END

