USE [DCV_PI]
GO
/****** Object:  StoredProcedure [dbo].[P_OBTER_AMBIENTES_POR_SISTEMA]    Script Date: 05/09/2025 16:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[P_OBTER_AMBIENTES_POR_SISTEMA]  
AS  
BEGIN  
  
SELECT    
a.Id  
,NumeroChamado as 'NumeroChamado'  
,a.Descricao as 'Descricao'  
,IdResponsavel as 'DevId'  
,dev.Nome as 'Desenvolvedor'
,IdNegocio as 'NegId'
,neg.Nome as 'Negocio'
,AMS.Id as 'SituacaoId'
,AMS.Descricao as 'Situacao'
,Dependencia as 'Dependencia'
,Sis.Id as 'SistemaId'
,Sis.Nome as 'Sistema'
from dbo.AmbientesSistema a Inner Join  
desenvolvedores as dev  
on a.IdResponsavel = dev.Id  
Inner Join Negocio as neg
on a.IdNegocio = neg.id
Inner join AmbienteStatus AMS
on a.Situacao = AMS.id
iNNER JOIN Sistemas as Sis
on a.IdSistema = Sis.Id
order by Sis.Id  
  
END
