USE [DCV_PI]
GO
/****** Object:  StoredProcedure [dbo].[P_OBTER_AMBIENTE_QA]    Script Date: 16/11/2023 13:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[P_OBTER_AMBIENTE_QA]
AS
BEGIN

 SELECT 
        r.Id AS ReleaseId,
        r.Nome,
        r.Requisicao,
        r.DesenvolvedorId,
		DEV.Nome as Desenvolvedor,
        r.NegocioId,
		r.DataImplantacao,
		NEG.Nome    as Negocio 
    FROM dbo.Release r
	inner join DESENVOLVEDORES DEV
	ON DEV.Id = r.DesenvolvedorId
	inner join NEGOCIO NEG
	ON NEG.Id = r.NegocioId
END

